<ion-view view-title="VIdeojeugos">
  <ion-content>
   <div class="list card">
    	<div class="item">
    	    <h2>Tom Clansy's The Division</h2><img style="max-width: 250px; height: auto; " src="img/thedivision.jpg" />
        	<p>Venta</p>
        	<p>$599.00</p>
        	</div>
   	 
    	<div class="item">
        	<h2>Dark Souls III</h2><img style="max-width: 250px; height: auto; " src="img/darksouls3.jpg" />
        	<p>Venta</p>
        	<p>$1099.00</p>
    	</div>
    	
    	<div class="item">
        	<h2>Fallout 4</h2><img style="max-width: 250px; height: auto; " src="img/fallout4.PNG" />
        	<p>Venta</p>
        	<p>$999.00</p>
    	</div>
    	
    	<div class="item">
        	<h2>Super Mario Maker</h2><img style="max-width: 250px; height: auto; " src="img/SMM.jpg" />
        	<p>Venta</p>
        	<p>$999.00</p>
    	</div>
    	
    	<div class="item">
        	<h2>Fire Emblame Fates</h2><img style="max-width: 250px; height: auto; " src="img/FireEmblemFates.jpg" />
        	<p>Venta</p>
        	<p>$599.00</p>
    	</div>
	</div>
  </ion-content>
</ion-view>
