<ion-view view-title="Peliculas">
  <ion-content class="padding">
    
	<div class="list card">
    	<div class="item"><div style="float: right; clear: left;"><IMG style="width: auto; max-height: 140px; " src="img/starwars7.jpg"></div>
    	    <h2>Star Wars VII: The Force Awakens</h2>
        	<p>Renta</p>
        	<p>$60.00</p>
        	<p>Venta</p>
        	<p>$300.00</p>
    	</div>
   	 
    	<div class="item"><div style="float: right; clear: left;"><IMG style="width: auto; max-height: 140px; " src="img/spotlight.jpg"></div>
        	<h2>Spotlight</h2>
        	<p>Renta</p>
        	<p>$60.00</p>
        	<p>Venta</p>
        	<p>$250.00</p>
    	</div>
    	
    	<div class="item"><div style="float: right; clear: left;"><IMG style="width: auto; max-height: 140px; " src="img/revenant.jpg"></div>
        	<h2>The Revenant</h2>
        	<p>Renta</p>
        	<p>$60.00</p>
        	<p>Venta</p>
        	<p>$300.00</p>
    	</div>
    	
    	<div class="item"><div style="float: right; clear: left;"><IMG style="width: auto; max-height: 140px; " src="img/Insurgent.jpg"></div>
        	<h2>Insurgent</h2>
        	<p>Renta</p>
        	<p>$60.00</p>
        	<p>Venta</p>
        	<p>$200.00</p>
    	</div>
    	
    	<div class="item"><div style="float: right; clear: left;"><IMG style="width: auto; max-height: 140px; " src="img/MadMax.jpg"></div>
        	<h2>Mad Max</h2>
        	<p>Renta</p>
        	<p>$60.00</p>
        	<p>Venta</p>
        	<p>$300.00</p>
    	</div>
	</div>
    
  </ion-content>

</ion-view>
